/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace !important;
  background-color: #eee;
}

md-card.mat-card {
    margin-bottom: 20px;
}

md-select{
  max-width: 215px;
}

.treeViewPadding{
  padding-left: 45px;
  padding-right: 5px;
}
