<md-toolbar color="primary">
  <span>N-Game Admin</span>
  <md-toolbar-row fxLayoutWrap>
    <a md-button routerLink="/agents">Agents Management</a>
    <a md-button routerLink="/players">Players Management</a>
    <a md-button routerLink="/markets">Markets Management</a>
    <a md-button routerLink="/reports">Reports</a>
    <a md-button routerLink="/rules">Rules</a>
    <span class="spacer"></span>
    <button md-button>Logout</button>
  </md-toolbar-row>
</md-toolbar>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
