.container{
  display: flex;
  flex-flow: column;
  height: 100%;
}

md-toolbar, nav{
  flex: 0 0 auto;
}

.app-content{
  flex: 1 1 0%;
}

.spacer {
  flex: 1 1 auto;
}

md-toolbar{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
